extends base
block content
    main.main.mt-2
        p.site-info
            br
            |CSE, EEE, ECE, MAE, CVE, BCA results
            br
            br
            |Downloadable report cards
            br
            br
            |University/College ranks
            br
            br
            